# =============================================================================
# Project: IOT-ENABLED SOLAR-ASSISTED HIGH-EFFICIENCY BATTERY CHARGING
#          USING SUPERCAPACITOR ENERGY BUFFERING
# Author: Ajeesh Kumar R | BITS ID: 2024MT12104 | BITS Pilani WILP
# Academic Purpose Only
# =============================================================================

@2024mt12104:registry=https://npm.pkg.github.com
